@media screen and (width <= 700px) {
    .magic-writer-container {
        margin-top: 50px;
        width: 94%;
        margin-left: 4%;
        margin-right: 2%;
    }

    .toggle-button_icon-text {
        padding: 0;
        width: 15vw;
        height: 65px;
    }
    .toggle-button_icon-asterisk {
        padding: 0;
        width: 12vw;
        height: 65px;
    }
}

@media screen and (700px <= width){
    .magic-writer-container {
        margin-top: 50px;
        width: 82%;
        margin-left: 10%;
        margin-right: 8%;
    }

    .toggle-button_icon-text {
        padding: 0;
        width: 80px;
        height: 100px;
    }
    .toggle-button_icon-asterisk {
        padding: 0;
        width: 70px;
        height: 100px;
    }
}

