@import 'responsive.css';
.magic-writer-container {
  position: relative;
}

.toggle-button {
  font-family: "Inter";
  color: white;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}
