@import '../../Application/assets/css/variables.scss';


p.policy-header {
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 100;
    font-size: 10px;
    padding-bottom: 4px;
}

p.policy-topic {
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 5px;
}

p.policy-description{
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 200;
    font-size: 10px;
    padding-bottom: 25px;
}

a.policy-link {
    text-decoration: none;
    font-family: $primary-font;
    color: $secondary-color;
}