@media screen{
    .landing-page-container {
        position: relative;
        margin-top: 200px;
        margin-left: 10%;
    }
    
    .landing-page-container h1 {
        font-size: 72px;
        margin-bottom: 0px;
    }
    
    p {
        margin-bottom: -15px;
    }
    
    p.emphasis {
        margin-bottom: 0px;
    }
    
    .writer-link-container {
        margin-top: 40px;
    }
}
