@import 'responsive.css';

.landing-page-container {
    position: relative;
}

.landing-page-container h1 {
    font-family: 'Inter';
    color: white;
}

p {
    font-family: 'Inter';
    color: white;
}

p.emphasis {
    color: yellow;
}
