@import 'responsive.css';
.content_container {
  position: relative;
}

.content_header {
  font-family: "Inter";
  color: white;
}

.content_paragraph {
  font-family: "Inter";
  color: white;
}
.content_paragraph-emphasis {
  font-family: "Inter";
  color: yellow;
}
