@import 'responsive.css';
@import '../../../Application/assets/css/variables.scss';


.content_container {
    position: relative;
}

.content_header {
    font-family: $primary-font;
    color: $primary-color;
}

.content_paragraph {
    font-family: $primary-font;
    color: $primary-color;

    &-emphasis {
        font-family: $primary-font;
        color: $secondary-color;
    }
}
