.toolbar {
    background-color: #f2f2f2;
    padding: 10px;
}

.toolbar_button {
    border: none;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.toolbar_button.deactivated {
    background-color: #cbedcc;
    color: white;
}

.toolbar_button.deactivated:hover {
    background-color: #26b82e;
}

.toolbar_button.activated {
    background-color: #26b82e;
    color: white;
    border-radius: 50%;
}

.toolbar_button-icon {
    color: #ffffff;
    font-size: 12px;
  }