.navigation-bar_container {
  position: fixed;
  top: 10px;
  right: 0px;
  z-index: 1;
}

.navigation-bar_container:hover .navigation-bar_links-container {
  display: block;
}

.navigation-bar_menu-icon {
  position: relative;
  float: right;
  font-family: "Inter";
  font-size: 40px;
  height: 135px;
  right: 30px;
  text-align: right;
  color: white;
}

.navigation-bar_menu-icon:hover + .navigation-bar_links-container {
  display: block;
}

.navigation-bar_links-container {
  margin-top: 50px;
  display: none;
  position: relative;
}

.navigation-bar_links-container a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: "Inter";
  font-weight: normal;
  margin: 5px;
}

.navigation-bar_links-container a:hover {
  font-style: italic;
}
