@import '../../Application/assets/css/variables.scss';
.navigation-bar {
    &_container {
        position: fixed;
        top: 10px;
        right: 0px;
        z-index: 1;

        &:hover .navigation-bar_links-container {
            display: block;
        }
    }

    &_menu-icon {
        position: relative;
        float: right;
        font-family: $primary-font;
        font-size: 40px;
        height: 135px;
        right: 30px;
        text-align: right;
        color: $primary-color;
    
        &:hover + .navigation-bar_links-container {
            display: block;
        }
    }

    &_links-container {
        margin-top: 50px;
        display: none;
        position: relative;
    }

    &_link {
        float: left;
        color: $primary-color;
        text-decoration: none;
        font-size: 14px;
        font-family: $primary-font;
        font-weight: normal;
        margin: 5px;
    
        &:hover {
            font-style: italic;
        }
    }
}