@import '../../../Application/assets/css/variables.scss';
@import 'responsive.css';

.magic-writer_textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    background: none;
    
    font-family: $primary-font;
    color: $primary-color;
    caret-color: $secondary-color;
    
    &:focus {
        outline: none;
    }
}
