@import 'responsive.css';
.magic-writer_textarea {
  box-sizing: border-box;
  border: none;
  resize: none;
  background: none;
  font-family: "Inter";
  color: white;
  caret-color: yellow;
}
.magic-writer_textarea:focus {
  outline: none;
}
