@import url("https://fonts.googleapis.com/css?family=Inter");

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    background-image: linear-gradient(120deg, #395f6d -50%, #1C2426);
}