$primary-color: white;
$secondary-color: yellow;
$primary-font: 'Inter';
// $background-color-start: #395f6d;
// $background-color-end: #1C2426;
// $background-color-start: #55c6df;
// $background-color-end: #d0cc79;
$background-color-start: #30545d;
$background-color-end: #112020;