.toolbar {
    background-color: #f2f2f2;
    padding: 10px;
}

.toolbar_button {
    background-color: #cbedcc;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.toolbar_button:hover {
    background-color: #26b82e;
  }

.toolbar_button:active {
    transform: scale(0.95);
}

.toolbar_button.active {
    background-color: #45a049;
    color: white;
}

.toolbar_button-icon {
    color: #ffffff;
    font-size: 12px;
  }